<!---<h1><%= @recommend.name %></h1> -->
<h1><%= @recommend.name %></h1>
<h1>新歓はジュエルオブインディアが良いぞ！</h1>

<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3223.4366162626134!2d140.10222891527064!3d36.10721928009719!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x60220c0644b9e44d%3A0xbe2a91ffb5916864!2z44K444Ol44Ko44OrIOOCquODliDjgqTjg7Pjg4fjgqPjgqI!5e0!3m2!1sja!2sjp!4v1556266714974!5m2!1sja!2sjp" width="600" height="450" frameborder="0" style="border:0" allowfullscreen></iframe>
<h1>一人ならBigboyが好きなだけ食べれるぞ！！</h1>
<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3224.3905155323177!2d140.09337781488455!3d36.08396741538719!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x60220b966641c31f%3A0x502640f543dfb98f!2z44OT44OD44Kw44Oc44O844KkIOOBpOOBj-OBsOiRm-WfjuW6lw!5e0!3m2!1sja!2sjp!4v1556266996248!5m2!1sja!2sjp" width="600" height="450" frameborder="0" style="border:0" allowfullscreen></iframe>
<img src="https://r.gnavi.co.jp/3ph0m1tk0000/img/gehw998w.png" alt="" width="" height="" border="0" />
