<h1>新歓はジュエルオブインディアが良いぞ！</h1>
<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3223.4366162626134!2d140.10222891527064!3d36.10721928009719!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x60220c0644b9e44d%3A0xbe2a91ffb5916864!2z44K444Ol44Ko44OrIOOCquODliDjgqTjg7Pjg4fjgqPjgqI!5e0!3m2!1sja!2sjp!4v1556266714974!5m2!1sja!2sjp" width="600" height="450" frameborder="0" style="border:0" allowfullscreen></iframe>
<h2>一人ならBigboyが好きなだけ食べれるぞ！！</h2>
